- if comments.count > 0
  -comments.each do |c|
    - if c.comment.present?
      .alone_comment
        .avatar
          = user_icon(c.user)


        = auto_link(c.comment,:html => { :target => '_blank' })
        .datetime
          %small= distance_of_time_in_words_to_now(c.created_at)