%p#notice= notice

%p
  %h2 Discussion: #{@discussion.title}


=form_tag add_new_comment_to_discussion_path do |f|
  =hidden_field_tag "id", @discussion.id
  =text_area_tag "discussion[comment]"
  %p
    =submit_tag "Discussion Comment"



- if @discussion.comments.count > 0
  -#.bs-docs-example

  -@discussion.comments.each do |c|
    - if c.comment.present?
      .alone_comment= c.comment

