%ul.breadcrumb
  %li
    =link_to "Home", root_path
    %span.divider /
  %li
    = link_to @discussion.project.name, project_path(@discussion.project)
    %span.divider /
  %li
    .active
      =link_to "Discussion", "#"

.page-header
  %h3
    = @discussion.project.name
    %small= @discussion.project.desc

-#.bs-docs-example.discussion_show
%p
  .lead
    =@discussion.title
    %br/
    %small
      =@discussion.desc

=form_tag add_new_comment_to_discussion_path, :remote => true, :update => { :success => "#comments_line"} do |f|
  =hidden_field_tag "user_id", current_user.id
  =hidden_field_tag "id", @discussion.id
  =hidden_field_tag "project_id", @discussion.project.id
  =text_area_tag "discussion[comment]"
  %p
    =submit_tag "Comment", :class => "btn", :disable_with => 'loading...'
=hidden_field :mention, :logins, :data => {:logins => @project_users}

#comments_line
  = render :partial => "comments", :locals => {:comments => @discussion.comments}