.alone_comment
  .row-fluid
    -unless controller_name.eql? "contacts"
      .span1
        .avatar
          = gravatar_image_tag(comment.user.email) if comment.user.present?
    .span11

      -unless controller_name.eql? "contacts"
        -if current_user.eql? comment.user
          .pull-right
            =link_to comment_path(comment), :method => "delete", :confirm => "Sure?", :remote => true do |l|
              %i.icon-trash
      - else
        .pull-right
          =link_to comment_path(comment), :method => "delete", :confirm => "Sure?", :remote => true do |l|
            %i.icon-trash

      .datetime
        %small= distance_of_time_in_words_to_now(comment.created_at)
      :markdown
        #{auto_link(comment.comment, :html => { :target => '_blank' })}