%ul.breadcrumb
  %li
    %i.icon-home
    =link_to "Home", root_path
    %span.divider /
  %li
    = link_to @task.project.name, project_path(@task.project)
    %span.divider /


.lead
  %i.icon-edit
  Edit task

= render 'form'

-#= link_to 'Show', @project
-#\|
-#= link_to 'Back', projects_path
