-@projects.each do |p|
  %p
    .lead
      %i.icon-leaf
      =link_to(p.name, project_path(p))
    %blockquote
      %table.table.span12

        -p.tasks.where(:assigned_to => current_user).order(:created_at).delete_if{|t| (t.status == 2) || (t.finished_at.present?) || (t.hours_worked_on_task.present?)}.each do |t|
          %tr
            %td.span1
              = gravatar_image_tag t.owner.email, :class => 'img-rounded', :gravatar => { :size => 25 }
            %td.span1
              %h2
                -#      a = []
                -#      a[0] = "estimate"
                -#      a[1] = "start"
                -#      a[2] = "finish"
                -#      a[3] = "pushed"
                -#      a[4] = "testing"
                -#      a[5] = "accept/reject"
                -#      #a[5] = "accept"
                -#=t.status
                -#=t.status_via_words
              =type_icon(t.task_type) if t.task_type
            %td.span10
              = link_to  project_task_path(t.project, t) do
                =t.title
            %td.span1
              %i.icon-comment-alt
              =t.discussion.comments.count