%ul.breadcrumb
  %li
    =link_to "Home", root_path
    %span.divider /
  %li
    = link_to @task.project.name, project_path(@task.project)
    %span.divider /
  %li
    =link_to "User stories", project_user_stories_path(@task.project)

-#.page-header
-#  %h3
-#= @task.project.name

-#.bs-docs-example.discussion_show
%p.lead #{@task.title}

.row-fluid
  =form_tag task_add_new_comment_path(params[:id]), :remote => true do |f|
    =hidden_field_tag "user_id", current_user.id
    =hidden_field_tag "id", @task.id
    =text_area_tag "task[comment]"
    .row-fluid
      =submit_tag "Comment", :class => "btn", :disable_with => 'loading...'
    %p
    .row-fluid
      %i.icon-paper-clip
      =link_to "upload file via minus.com", "http://minus.com/", :target => "_blank"




=hidden_field :mention, :logins, :data => {:logins => @project_users}


#comments_line
  = render :partial => "comments", :locals => {:comments => @task.comments, :list_of_mentions => @list_of_mentions}

