=form_for :sprint, :remote => :true, :url => project_sprints_path(@project)  do |f|
  =f.label :title
  =f.text_field :title
  =f.label :start
  =f.text_field :start_at, :data => {behaviour: 'datepicker'}, :value => Time.now.to_date
  =f.label :end
  =f.text_field :end_at, :data => {behaviour: 'datepicker'}, :value => (Time.now+1.week).to_date
  =f.label :description
  =f.text_area :desc
  %p
  =f.button :Create,  :class => "btn"