%ul.unstyled
  %li
    = link_to project_tasks_path( parent, by_sprint: @sprint.id) do
      %i.icon-inbox
      User stories
  %li
    = link_to '#' do
      %i.icon-star
      Reports
  %li
    = link_to '#' do
      %i.icon-paper-clip
      Files
