.row-fluid
  .span10
    %ul.breadcrumb
      %li
        =link_to "Abulafia", root_path
        %span.divider /
      %li
        =link_to "Projects", projects_path
        %span.divider /
      %li
        =link_to parent.name, parent
        %span.divider /
      %li
        .active
          %i.icon-leaf
          %strong
            Sprint №
            = @sprint.iteration_number
          %span.divider /
.page-header
  %h4
    %em
      sprint:
    =@sprint.title
    %em
      №
    =@sprint.iteration_number
.row-fluid
  .span9
    =render partial: 'description'
  .span3
    = render partial: 'links'