-tasks.each do |t|
  - if t.title.present?
    .accordion-group{:data => {:taskid => t.id}, :class => "accordion_group_"+t.id.to_s}
      .accordion-heading
        .row-fluid
          .span12
            .span1{:id => "image_of_estimates_vertical_#{t.id.to_s}"}
              - if t.estimate.present?
                - estimate_of_task =  t.estimate
              - else
                - estimate_of_task = 0
              =image_tag "estimate_"+estimate_of_task.to_s+"pt_fibonacci.gif"
            .pull-right
              .label.estimates_label{:id => "estimates_label_"+t.id.to_s, :class => label_color(t.status), :data => {:status => t.status}}
                =t.status_via_words
              %span.estimates{:class =>"estimates_"+t.id.to_s}
                -["0","1","2","3","5","8"].each do |a|
                  =image_tag "select_"+a+"pt_fibonacci.gif", :rel => a
            .story_1{:id => t.id.to_s+"_around",  :class => "accordion-toggle", :data => {:toggle => 'collapse', :parent => "accordion_id"}}
              =link_to_function t.title, "window.open_task_modal('#{t.title}')", :rel => "tooltip", :data => {:toggle => "modal", 'original-title' => t.status_via_words, :placement => "top" }

              -#= link_to t.title, task_path(t)

              - if t.comments.present?
                %i.icon-comment-alt

              %small
                =t.assigned_to_initials

              -#- if t.assigned_to
              -#  %small
              -#    =t.place
              -#    (#{users_initials(t.assigned_to)})
