- if place == "backlog"
  - order_1 = ColumnOrder.where(:project_id => params[:project_id] ? params[:project_id] : params[:id], :place_id => 1).first

  - if order_1
    - order = order_1.position_array.split(",")
- else
  - order = tasks.map(&:id)

- if order.present?
  -order.each do |o|
    -t = Task.find(o)

    - if t.title.present?
      -(updated_task.present? && updated_task.to_i == t.id) ? selected_class = "selected_task" : "nil"

      .accordion-group{:id => t.id, :data => {:taskid => t.id}, :class => "#{selected_class} #{place}_class accordion_group_#{t.id}"}
        .row-fluid
          .span12
            .span1{:id => "image_of_estimates_vertical_#{t.id.to_s}", :style => "padding-left:3px;"}
              =type_icon t.task_type
              - if t.estimate.present?
                - estimate_of_task =  t.estimate
              - else
                - estimate_of_task = 0

            .span11
              -unless (controller_name = "projects" && action_name == "show") || (controller_name = "tasks" && action_name == "create")|| (controller_name = "tasks" && action_name == "destroy")
                .pull-right
                  - if place != "icebox"
                    .span2
                      .label.estimates_label{:id => "estimates_label_"+t.id.to_s, :class => label_color(t.status), :data => {:status => t.status}}
                        - if t.status == 0
                          %i.icon-time{:title => "Estimate"}
                        - if t.status == 2
                          %i.icon-check{:title => "Finished"}
                        - if t.status == 3
                          %i.icon-github{:title => "Pushed"}
                        - if t.status == 1
                          %i.icon-play{:title => "Start"}
                  -else
                    .label.estimates_label{:id => "estimates_label_"+t.id.to_s, :class => label_color(0), :data => {:status => 'to_backlog'}}
                      %i.icon-hand-left{:title => "Move to backlog"}

                  %span.estimates{:class =>"estimates_"+t.id.to_s}
                    -["0","1","2","3","5","8"].each do |a|
                      =image_tag "select_"+a+"pt_fibonacci.gif", :rel => a
              -unless ["icebox","backlog","my_work","current"].include?(place)
                .pull-right.span1
                  -if place == "draft"
                    =link_to(edit_task_path(t)) do |l|
                      %i.icon-edit
                  =link_to(task_path(t), :method => "delete", :remote => true) do |l|
                    %i.icon-trash
              .story_1{:id => t.id.to_s+"_around",  :class => "alone_story"}
                =link_to t.title, task_path(t)

                - if t.discussion && t.discussion.comments.present?
                  %i.icon-comment-alt.light-gray
                .row-fluid
                  %small
                    =t.assigned_to_initials
                    -if t.end.present?
                      |
                      %span
                        =distance_of_time_in_words_to_now (t.end)
                    - if place == "urgent"
                      - unless t.accepted_to_start.present?
                        |
                        %i.icon-warning-sign.red
                        not accepted
                        ,
                        %i.icon-envelope{:title => "remind via hipchat"}
