- if place == "backlog"
  - order_1 = ColumnOrder.where(:project_id => params[:project_id] ? params[:project_id] : params[:id], :place_id => 1).first

  - if order_1
    - order = order_1.position_array.split(",")
- else
  - order = tasks.map(&:id)

- if order.present?
  -order.each do |o|
    -t = Task.find(o)


    - if t.title.present?
      -(updated_task.present? && updated_task.to_i == t.id) ? selected_class = "selected_task" : "nil"
      .accordion-group{:id => t.id, :data => {:taskid => t.id}, :class => "#{selected_class} accordion_group_#{t.id}"}
        .row-fluid
          .span12
            .span1{:id => "image_of_estimates_vertical_#{t.id.to_s}", :style => "padding-left:3px"}
              =type_icon t.task_type
              - if t.estimate.present?
                - estimate_of_task =  t.estimate
              - else
                - estimate_of_task = 0
              -#=image_tag "estimate_"+estimate_of_task.to_s+"pt_fibonacci.gif"


            -unless (controller_name = "projects" && action_name == "show") || (controller_name = "tasks" && action_name == "create")|| (controller_name = "tasks" && action_name == "destroy")
              .pull-right
                - if place != "icebox"
                  .label.estimates_label{:id => "estimates_label_"+t.id.to_s, :class => label_color(t.status), :data => {:status => t.status}}
                    - if t.status == 0
                      %i.icon-time{:title => "Estimate"}
                    - if t.status == 2
                      %i.icon-check{:title => "Finished"}

                    - if t.status == 1
                      %i.icon-play{:title => "Start"}
                    -#=t.status_via_words
                -else
                  .label.estimates_label{:id => "estimates_label_"+t.id.to_s, :class => label_color(0), :data => {:status => 'to_backlog'}}
                    %i.icon-hand-left{:title => "Move to backlog"}
                    -#to backlog
                %span.estimates{:class =>"estimates_"+t.id.to_s}
                  -["0","1","2","3","5","8"].each do |a|
                    =image_tag "select_"+a+"pt_fibonacci.gif", :rel => a
            -#- else
            -unless ["icebox","backlog","my_work","current"].include?(place)
              .pull-right
                =link_to(task_path(t), :method => "delete", :remote => true) do |l|
                  %i.icon-trash

            .story_1{:id => t.id.to_s+"_around",  :class => "alone_story"}
              -#- if place == "icebox"
                -#%i.icon-hand-left{:title => "2 backlog", :class => "to_backlog"}
              -#=link_to_function t.title, "window.open_task_modal('#{t.title}')", :rel => "tooltip", :data => {:toggle => "modal", 'original-title' => t.status_via_words, :placement => "top" }
              =link_to t.title, task_path(t)

              - if t.discussion && t.discussion.comments.present?
                %i.icon-comment-alt.light-gray
              %small
                =t.assigned_to_initials

