.row-fluid
  .span4
    = render :partial => "desc", :locals => {:tasks => @project.current_tasks, :header => 'Current'}
  .span4
    = render :partial => "desc", :locals => {:tasks => @project.backlog_tasks(true), :header => 'Backlog'}
  .span4
    = render :partial => "desc", :locals => {:tasks => @project.icebox_tasks, :header => 'Icebox'}