- project = project ? project : @project
- if @tasks.present?
  - tasks = @tasks
- elsif tasks.present?
  - tasks = tasks
- else
  - tasks = project.tasks.without_sprint
=render partial: 'user_stories', locals: { project: project, tasks: tasks}