%p#notice= notice
%h1
  +
  =@plus_transaction.value
  руб.
%p
  Money from:
  =gravatar_image_tag(User.find(@plus_transaction.source_user).email)
%p
  %b Desc:
  = @plus_transaction.desc

%hr/
.lead
  Minus transactions
%table.table
  %tr
    %th Value
    %th Project
    %th Target User
    %th Date
  -@plus_transaction.minus_transactions.each do |t|
    %tr
      %td
        =link_to t.value, minus_transaction_path(t.id)
      %td
        =t.project.name
      %td
        =gravatar_image_tag(User.find(t.target_user).email)
      %td
        =t.created_at.to_s(:db)

%h4
  Sum:
  = (@plus_transaction.value)-(@plus_transaction.minus_transactions.sum(:value))
  руб.

%h4
  =link_to "+ add new minus transaction", new_minus_transaction_path(:plus_transaction => params[:id])


