-if activity.trackable
  .row.span6.activity_alone
    -if activity.trackable
      %i.icon-plus
      %i.icon-comment-alt

      %i.avatar_activites
        -user = activity.trackable.user
        =gravatar_image_tag(user.email)
      %small
        = distance_of_time_in_words_to_now(activity.created_at)
        ,
        - if activity.trackable.commentable.discussable.class.to_s == "Task"
          =link_to truncate(activity.trackable.comment), task_path(activity.trackable.commentable.discussable.id) rescue nil
        - else
          =link_to truncate(activity.trackable.comment), discussion_path(activity.trackable.commentable.id) rescue nil



