/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 * require twitter/bootstrap/static/bootstrap
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets
 *= require bootstrap-datepicker
 *= require select2
 */

body {
    background: url(/assets/012-subtle-light-patterns.jpg) !important;
}

/* Fix sticky responsive header */

.navbar.navbar-fixed-top {
  margin-left: 0;
  margin-right: 0;
}

.navbar.navbar-fixed-top .container {
  max-width: 940px;
  width: auto;
}

@media (max-width: 979px) and (min-width: 320px) {
  .navbar.navbar-fixed-top .container {
    margin-left: 20px;
  }
}

.capitalize {
    text-transform: capitalize !important;
    color: #777 !important;
    text-shadow: 2px 2px #fff !important;
}

.h {
    display: none !important;
}

p {
    color: #6A4A3C !important;
}


.brown{
    color: #774F38;
}

.lead , .lead a{
    color: #6A4A3C !important;
}

.orange {
    color: #F9CDAD;
}

.red {
    color: #FC9D9A;
}

.light-gray {
    color: #ccc;
}

.green {
    color: #83AF9B;
}


.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #48705E !important;
    background-image: -moz-linear-gradient(top, #83AF9B, #48705E) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#83AF9B), to(#48705E)) !important;
    background-image: -webkit-linear-gradient(top, #83AF9B, #48705E) !important;
    background-image: -o-linear-gradient(top, #83AF9B, #48705E) !important;
    background-image: linear-gradient(to bottom, #83AF9B, #48705E) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff26c755', endColorstr = '#ff22b24c', GradientType = 0);
    border-color: #83AF9B #83AF9B #83AF9B;
    /*border-color: 83AF9B 83AF9B 83AF9B;*/
    *background-color: #83AF9B !important;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.label-success, .badge-success {
    background-color: #F9CDAD !important;
    color: #fff !important;
}

.label-info, .badge-info {
    background-color: #83AF9B !important;
}

.activity_alone {
    padding: 5px;
    border-bottom: 1px dotted #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation = 3);
}

.h {
    display: none;
}

.avatar img {
    border-radius: 100px 100px 100px 100px;
    width: 40px;
    float: left;
    margin: 0 10px 0 0;
    vertical-align: bottom;

}


.list_of_discussion_history {
    padding:0 0 10px 0;
}

.opacity60 {
    opacity: .6;
}
.opacity40 {
    opacity: .4;
}

i.avatar_activites img {
    width: 20px;
    padding: 0 7px 0 3px;
    opacity: .7;
    /*float: left;*/
    /*margin: 0 10px 0 0;*/
    /*vertical-align: bottom;*/

}

.avatar20 img {
    border-radius: 100px 100px 100px 100px;
    width: 20px;
    float: left;
    margin: 0 10px 0 0;
    vertical-align: bottom;

}

.avatar30 img {
    border-radius: 100px 100px 100px 100px;
    width: 30px;
    float: left;
    margin: 0 10px 0 0;
    vertical-align: bottom;

}

textarea {
    vertical-align: top;
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
}

.bs-docs-example {
    position: relative;
    margin: 7px 0 20px 0;
    padding: 20px 19px 14px;
    *padding-top: 19px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

.light_yellow_back {
    background-color: #ffffe0;
}

.alone_comment {
    border-bottom: 1px solid #DDD;
    padding: 10px 0 20px 7px;
    margin-bottom: 10px;
    /*border:1px solid red;*/
}

.accordion-group {
    background-color: #fff;
}

.h {
    display: none;
}
