// Place all the styles related to the discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.bs-docs-example.discussion_show textarea{
  width: 357px;
}

small{
  color: #999;
}