// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.body_home{
  padding-top:80px;
}
.body{
  padding-top:20px;
  background: url(/assets/);
}

.users_stories .breadcrumb img {
  border-radius: 8px;
  opacity: .8;
}

.to_backlog {
  //visibility: hidden;
}

.alone_story {
  a {
    color: #1a1a1a;
    font-size: 13px;
    font-family: arial;
  }



}

.estimates_label{
  font-family: arial !important;
  font-weight: normal;

}

.selected_task {
  border-left: 5px solid green !important;
}

.us_column {
  //background: url(/assets/dropzone_repeating_pattern.png) repeat-x scroll 0 0 #AEB6B9;
  //-moz-border-radius: 10px;
  //-webkit-border-radius: 10px;
  //border-radius: 10px; /* future proofing */
  //-khtml-border-radius: 10px; /* for old Konqueror browsers */

  //-moz-box-shadow: 5px 5px 5px #888;
  //-webkit-box-shadow: 5px 5px 5px #888;
  //box-shadow: 5px 5px 5px #888;

  //border:1px solid #999;

  //height: 600px;

  .us_header {
    background-color: #666;
    padding: 10px 0 10px 10px;

    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0; /* future proofing */
    -khtml-border-radius: 10px 10px 0 0; /* for old Konqueror browsers */

    color: white;
    font-weight: bold;

  }
}

#new_discussion input[type='text'] {
  width: 357px;
  height: 20px !important;
}

textarea {
  width: 357px;
  height: 40px;
}

.add_new_project_field {
  input[type=text], textarea {
    width: 357px;
  }

}

.alone_comment_cube {
  border-bottom: 1px solid #DDD;
  padding: 10px 0 20px 7px;
  margin: 0 10px 10px 0;
  //border: 1px solid red;
  width: 210px;
  float: left;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.setting_of_project {
  font-size: 24px;
  //marhin-left: -20px;
  width: 140px;
  border: 1px solid red;
}

.estimates_label, span.estimates > img {
  cursor: pointer;
}
