- if activity.trackable.present?
  .row.activity_alone.green
    .icons
      %i.icon-thumbs-up
      %i.icon-tasks
      %i.avatar_activites= user_icon(activity.trackable.owner)

    %small
      #{distance_of_time_in_words_to_now(activity.created_at)},
      =link_to (activity.trackable.title), project_task_path(activity.trackable.project, activity.trackable.id)