-if activity.trackable.present?
  .row.activity_alone
    %i.icon-plus
    %i.icon-tasks
    %i.avatar_activites
      -user = User.find(activity.trackable.owner_id)
      =gravatar_image_tag(user.email)
    %small
      = distance_of_time_in_words_to_now(activity.created_at)
      ,
      =link_to truncate(activity.trackable.title), task_path(activity.trackable.id) rescue nil


-#.row-fluid.activity_alone
-#  .span1
-#    %i.icon-plus
-#    %i.icon-tasks
-#  %small
-#    = distance_of_time_in_words_to_now(activity.created_at)
-#  .user
-#    -user = User.find(activity.trackable.owner_id)
-#    .span2.avatar30
-#      =gravatar_image_tag(user.email)
-#    %small= link_to user.login, user_profile_path(user.id)
-#    .body
-#      =link_to truncate(activity.trackable.title), task_path(activity.trackable.id)
