
.row.activity_alone
  %i.icon-trash
  %i.icon-tasks
  -if activity.trackable.present?
    %i.avatar_activites
      -user = User.find(activity.trackable.owner_id)
      =gravatar_image_tag(user.email)
    %small
      = distance_of_time_in_words_to_now(activity.created_at)
      ,
      =link_to truncate(activity.trackable.title), task_path(activity.trackable.id) rescue nil
  -else
    %small
      = distance_of_time_in_words_to_now(activity.created_at)
      ,
      Task was removed

