.row.activity_alone
  .icons
    %i.icon-trash
    %i.icon-tasks
    - if activity.trackable.present?
      %i.avatar_activites= user_icon(activity.trackable.owner)

  %small
    #{distance_of_time_in_words_to_now(activity.created_at)},
    - if activity.trackable.present?
      = activity.trackable.title
    - else
      Task was removed