-if activity.trackable.present?
  .row.activity_alone
    %i.icon-edit
    %i.icon-tasks
    %i.avatar_activites
      -user = User.find(activity.trackable.owner_id)
      = user_icon(user)
    %small
      = distance_of_time_in_words_to_now(activity.created_at)
      ,
      = link_to (activity.trackable.title), project_task_path(activity.trackable.project, activity.trackable.id)